<div class="player">
  <div class="player__top">
    <img class="player__albumcover" alt="Обложка альбома" src="{{albumcover}}"/>
    <div class="player__track">
      <span class="player__artist">{{artist}}</span>
      -
      <span class="player__track-name">{{track.name}}</span>
    </div>
    <div class="player__track-length">
      <div class="player__value player__track-length-value">{{track.length}}</div>
    </div>
  </div>
  <div class="player__controls">
    <div class="player__button player__button_prev"></div>
    <div class="player__button player__button_next"></div>
    <div class="player__volume">
      <div class="player__value player__volume-value">{{volume}}</div>
    </div>
  </div>
</div>
